$oc-circumference: 6rem;

.oc-color-container {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 15rem;
}

.oc-circle {
	width: $oc-circumference;
	height: $oc-circumference;	
	border-radius: $oc-circumference / 2;
}

.oc-color-name {
	margin-top: 0.5rem;
}

.oc-color-info {	
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0.5rem;
}
// .oc-color-info-name {

// }