@import '../../../../../styles/colors';

.oc-logos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.oc-logos-item {
  background-color: $oc-color-white;
  padding: 1rem;
}

.oc-logos-item-inverted {
  background-color: $oc-color-support-darksteel;
}