// @import '../styles/main';
@import "../styles/colors",       
        "../styles/variables";

@import '../styles/bootstrap_v3_custom';
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "../styles/mixins",
        "../styles/fonts",
        "../styles/icons",
        "../styles/buttons",
        "../styles/links",
        "../styles/inputs";

@import './flex';

@import '../styles/_react_select_custom';
@import '../node_modules/react-select/scss/components.scss';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Lato', sans-serif !important;
}

.oc-margin-bottom {
    margin-bottom: 1rem;
}

#oc-vertical-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#oc-layout-left {
    width: auto;
    height: 100%;
}

#oc-layout-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;   
    position: relative;
}

#oc-layout-content {
    width: 100%;
    height: 100%;    
}

#oc-horizontal-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#oc-layout-top {
    height: auto;
    flex: none;
    width: 100%;
}

#oc-layout-bottom {
    width: 100%;
    height: 100%;
    flex: 1;    
    overflow-y: auto;
}

#oc-examples {
  height: 100%;
}

.oc-link-active {
    color: $oc-color-primary-orange !important;
}