// @import '../styles/main';
@import "../styles/colors",
        "../styles/variables";

@import '../styles/bootstrap_v3_custom';
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "../styles/mixins",
        "../styles/fonts",
        "../styles/icons",
        "../styles/buttons",
        // "../styles/links",
        "../styles/inputs";

@import './flex';
@import '../styles/bootstrap_v3_overrides';
@import '../styles/_react_select_custom';
@import '../node_modules/react-select/scss/components.scss';
@import '../styles/_app';

.oc-margin-bottom {
    margin-bottom: 1rem;
}

#oc-examples {
  height: 100%;
}

.oc-link-active {
    color: $oc-color-primary-orange !important;
}

