@import '../../../../styles/colors';

$oc-callout-padding: 2rem;
$oc-callout-margin: 2rem 0;
$oc-callout-boder: 1px solid #eee;

.oc-callout {
    padding: $oc-callout-padding;
    margin: $oc-callout-margin;
    border: $oc-callout-boder;
    border-left-width: 5px;
    border-radius: 3px;
}
.oc-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.oc-callout p:last-child {
    margin-bottom: 0;
}
.oc-callout code {
    border-radius: 3px;
}
.oc-callout+.oc-callout {
    margin-top: -5px;
}
.oc-callout-default {
    border-left-color: $oc-color-primary-azure;
}
.oc-callout-default h4 {
    color: $oc-color-primary-azure;
}
.oc-callout-primary {
    border-left-color: $oc-color-primary-orange;
}
.oc-callout-primary h4 {
    color: $oc-color-primary-orange;
}
.oc-callout-success {
    border-left-color: $oc-color-attention-green;
}
.oc-callout-success h4 {
    color: $oc-color-attention-green;
}
.oc-callout-error {
    border-left-color: $oc-color-attention-red;
}
.oc-callout-error h4 {
    color: $oc-color-attention-red;
}
.oc-callout-warning {
    border-left-color: $oc-color-yellow;
}
.oc-callout-warning h4 {
    color: $oc-color-yellow;
}
.oc-callout-info {
    border-left-color: $oc-color-blue;
}
.oc-callout-info h4 {
    color: $oc-color-blue;
}