@import '../../styles/colors';

.oc-date-input {

}

.oc-date-input-overlay-wrapper {
  position: static;
  .oc-date-input-overlay {
    position: static;
    left: auto;
    color: $oc-date-picker-text;
  }
}

.DayPicker-NavBar {
  top: 1.1rem;
}

.DayPicker-Caption {
  height: auto;
}

// Selected day
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: $oc-color-date-picker-selected-text;
  background-color: $oc-color-date-picker-selected-background;
}
.DayPicker-Day:not(.DayPicker-Day--disabled):hover {
  color: $oc-color-date-picker-hover-text;
  background-color: $oc-color-date-picker-hover-background;
}

.DayPicker-Day--today {
  color: $oc-color-date-picker-today-text;
  font-weight: bold;
}
