@import '../../styles/colors';

.oc-date-input {

}

.oc-date-input-overlay-wrapper {
  position: static;
  .oc-date-input-overlay {
    position: static;
    left: auto;
  }
}

// Selected day
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: inherit;
  background-color: $oc-color-date-picker-selected;
}
.DayPicker-Day:not(.DayPicker-Day--disabled):hover {
  background-color: $oc-color-date-picker-hover;
}
