.oc-colors-container {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

@media screen and (max-width: 650px) {
   .oc-colors-container {
		 justify-content: space-around;
	 }
}