
.select-all {
  text-align: right;
  margin-right: 20px;
}

.empty-select-all {
  height: 40px;
}

.react-list-select {
  display: inline-block;
  width: 300px;
  outline: none;
  height: 740px;
  overflow-y: scroll;
  flex-shrink: 0;
}

.react-list-select--item {
  padding: 0.3em 0.6em;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-list-select--item.is-selected {
  -webkit-user-select: inherit;
  -moz-user-select: inherit;
  -ms-user-select: inherit;
  -o-user-select: inherit;
  user-select: inherit;
}

ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Add some style to the list */

.react-list-select {
  background: #fafafa;
  border: 1px solid #cacaca;
  margin-right: .5em;
}
.react-list-select--item.is-selected {
  background: #D7E7FF;
}
.react-list-select:focus .react-list-select--item.is-focused::before,
.react-list-select:focus .react-list-select--item.is-focused::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #79B9FF;
}
.react-list-select:focus .react-list-select--item.is-focused::before {
  left: 0;
}
.react-list-select:focus .react-list-select--item.is-focused::after {
  right: 0;
}
.react-list-select--item.is-disabled {
  color: #afafaf;
  cursor: default;
}

.context-menu .react-list-select {
  padding: .3em 0;
}
.context-menu .react-list-select--item {
  font-size: .8125em;
}