@import '../../styles/colors';

.oc-dropdown-multi-select {
  width: 100%;

  .dropdown {
    margin-left: 0;
    width: 100%;

    .dropdown-toggle {
      background-color: inherit!important;
      border: 0!important;
      box-shadow: none!important;
      color: inherit!important;
      padding: 0!important;
      width: 100%;

      .oc-input-group-icon-remove {
        height: 34px;
        padding: 2px 8px 0 8px;
      }

      .oc-input-group-input::-webkit-input-placeholder { // WebKit, Blink, Edge
        color: $oc-color-text!important;
      }
      .oc-input-group-input::-moz-placeholder { // Mozilla Firefox 19+
        color: $oc-color-text!important;
        opacity: 1!important;
      }
      .oc-input-group-input:-ms-input-placeholder { // Internet Explorer 11
        color: $oc-color-text!important;
      }      
    }  

    .dropdown-menu {
      width: 100%;
      overflow-y: auto;
      max-height: 234px; // 234 = 29px * 8items + 2px
      padding: 0;
    }  
  }
}
