#wizard-footer {
  $footer-height: 80px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: $footer-height;

  #bottom-indicators {
    display: flex;
    flex-direction: row;
    height: calc(#{$footer-height} / 2);
    justify-content: center;
  }

  > .column {
    display: flex;
    flex: 1 1 0;
    height: 100%;
    &.center {
      flex-direction: column;
      justify-content: center;
      align-content: center;
      max-width: 350px;

    }
    &.right {
      align-items: flex-end;
      .save-success-container {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        height: calc(#{$footer-height} / 2);
      }
    }
  }
  #bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    height: calc(#{$footer-height} / 2);
    flex-wrap: wrap;
    align-self: center;
    width: 100%;

    > section {
      display: flex;
      flex: 2 1 0;
      &:nth-of-type(1) {
        justify-content: flex-start;
      }
      &:nth-of-type(2) {
        justify-content: center;
        > button {
          margin: 0 5px;
        }
      }
      &:nth-of-type(3) {
        justify-content: flex-end;
      }
    }
    button {
      display: flex;
      flex: 1 0 auto;
      flex-grow: 0;
      justify-content: center;

      svg {
        margin-top: -5px;
      }

      .oc-icon-indicator {
        fill: white;
      }
    }
  }

  .tab-indicator {
    width: 10px;
    height: 10px;
    background: gray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 5px;
  }

  .tab-highlight {
    background: #EC6608;
  }

}
