
.oc-card-header {
  font-size: 18px;
  
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .children {
    flex-grow: 50;
  }

  .collapse-expand {
    display: flex;
    align-items: center;
    align-content: center;
  }

  button {
    display: flex;
    align-items: center;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

    &:focus {
        box-shadow: 0px 0px 0 0px Transparent,
          0 0 0 0px Transparent;
    }
  }
}